body{
    background-image: url("../images/background.png");
    color: yellow;
    line-height: 20px;
    font-family: 'Volkhov', serif;
    
 }

#quiz, #summary, #timer  {
    display: none;
    border: 2px solid  red;
    text-align: center;
    margin: 5px;
}
#answer-status    {
    display: none;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    font-size: 20px;
    
    
}
.choice     {
    background: white;
    
}
#quiz   {
    align-content: center;
    height: 300px;
    
}

    

 .answer {
    cursor: pointer;
    border: 2px solid red;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20%;
    width: 15%;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    background: black;
    color: yellow;
    border-radius: 10px;
}


#container  {
    height: 50%;
    border: 2px solid  red;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#startgame  {
    background: black;
    color: yellow;
}
h1{
    font-size: 40px;
    font-weight: 500;
}
#timer  {
    height: 20%;
    font-size: 20px;
    padding: 15px;
}
#gif    {
    margin-left: auto;
    margin-right: auto;

}
#summary    {
    font-size: 25px;
}